<app-search (searchChangedEmitter)="setSearchText($event)"></app-search>
<app-product-list [searchText]="searchText" #productListComponent></app-product-list>
<app-product-detail *ngIf="productListComponent.selectedProduct" [productListComp]="productListC"></app-product-detail>


<div class="ekart-featured-products">

    <div class="ekart-featured-product-heading">
        <h1>Latest arriaval in popular brands</h1>
    </div>

    <app-featured-brands>
        <h3 class="title">New Arrivals in Nike</h3>
        <button class="call-to-action">Learn More</button>
    </app-featured-brands>
    <app-featured-brands>
        <h3 class="title">New Arrivals in Rebok</h3>
        <button class="call-to-action">Learn More</button>
    </app-featured-brands>
    <app-featured-brands>
        <h3 class="title">New Arrivals in Adidas</h3>
        <button class="call-to-action">Learn More</button>
    </app-featured-brands>
    
</div>



