<app-filter 
    [all] = "productCount"
    [inStock] = "inStock"
    [outOfStock] = "outOfStock"
    (selectedValueEmitter)="onFilterButtonChnaged($event)"> 
</app-filter>

<div>New Search {{searchText}}</div>
<div class="ekart--products--container">

    <ng-container *ngFor="let prod of products">
        <app-product 
            *ngIf=" (searchText === '' || prod.name.toLowerCase().includes(searchText.toLowerCase()))" 
            [item]="prod"
            (click)="selectedProduct = prod"
        > 
        </app-product>
    </ng-container>
    
</div>